/*!
 * project v1.0 Copyright &copy; 2019
 * All Desgin &amp; code by melad | www.food.com
 */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

* {
  box-sizing: border-box;
}

.fixed-header {
  position: fixed;
  background-color: #8bc34a;
  width: 100%;
  box-shadow: -1px 1px 14px black;
  padding: 50px 0;
  z-index: 1;
  height: 0;
}

@media (max-width: 767px) {
  .fixed-header {
    display: none;
  }
}

@media (max-width: 991px) {
  .fixed-header {
    display: none;
  }
}

.fixed-header .side {
  width: 25%;
  float: left;
  margin-right: 5%;
}

.fixed-header .side .img {
  background: url("../img/Logo_stick.png");
  height: 170px;
  background-repeat: no-repeat;
  margin-top: -31px;
}

.fixed-header .header-links {
  width: 60%;
  float: left;
  margin-left: 10%;
}

.fixed-header .header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fixed-header .header-links ul li a {
  text-decoration: none;
  color: #284408;
  float: left;
  margin-right: 40px;
}

.fixed-header .header-links ul li a.active {
  color: #FFF;
}

.fixed-header .header-links ul li a:hover {
  color: #fff;
}

.header {
  background-color: #8bc34a;
  width: 100%;
  height: 150px;
  box-shadow: -1px 1px 14px black;
}

@media (max-width: 767px) {
  .header {
    height: 100%;
  }
}

@media (max-width: 991px) {
  .header {
    height: 100px;
  }
}

.header .button {
  display: none;
}

@media (max-width: 767px) {
  .header .button {
    background: #579b08;
    display: inline-block;
    margin: 5px 0px 0px 12px;
    padding: 3px 15px;
    border-radius: 5px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
}

.header .side {
  width: 25%;
  float: left;
  margin-right: 5%;
}

@media (max-width: 767px) {
  .header .side {
    display: none;
  }
}

.header .side .img {
  background: url("../img/Logo_main.png");
  height: 205px;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .header .side .img {
    display: none;
  }
}

@media (max-width: 991px) {
  .header .side .img {
    background: url("../img/Logo_stick.png");
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header .header-links {
  width: 60%;
  float: left;
  margin-top: 40px;
  padding-top: 20px;
  margin-left: 10%;
  display: block;
}

@media (max-width: 767px) {
  .header .header-links {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-top: 20px;
    display: none;
    height: 100%;
    background: #8bc34a;
  }
}

@media (max-width: 991px) {
  .header .header-links {
    width: 70%;
    margin-left: 0;
    margin-top: 0;
  }
}

.header .header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .header .header-links ul {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .header .header-links ul {
    margin-top: 16px;
  }
}

.header .header-links ul li a {
  text-decoration: none;
  color: #284408;
  float: left;
  margin-right: 40px;
}

@media (max-width: 767px) {
  .header .header-links ul li a {
    padding-bottom: 10px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .header .header-links ul li a {
    margin-right: 14px;
  }
}

.header .header-links ul li a.active {
  color: #FFF;
}

.header .header-links ul li a:hover {
  color: #fff;
}

.slider {
  height: 100vh;
  width: 100%;
}

.slider img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: -1;
}

@media (max-width: 991px) {
  .slider img {
    height: 100%;
    top: 0;
  }
}

.slider .desc {
  position: relative;
  top: 70px;
  left: 0px;
}

@media (max-width: 991px) {
  .slider .desc {
    position: static;
  }
}

.slider .desc h1 {
  font-size: 6em;
  margin: 0 0px;
  color: #626262;
}

.slider .desc p {
  text-align: center;
  font-size: 22px;
  color: #626262;
}

.arorr {
  list-style: none;
  text-align: right;
  margin-right: 10px;
  position: relative;
  bottom: 40px;
  right: 100px;
}

.arorr ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #8bc34a;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
}

.arorr ul li a {
  color: white;
  font-size: 20px;
}

.about-us {
  position: relative;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .about-us {
    text-align: center;
  }
}

.about-us .grid {
  width: 44%;
  float: left;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .about-us .grid {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .about-us .grid {
    width: 100%;
    text-align: center;
  }
}

.about-us .grid:first-of-type {
  margin-right: 40px;
}

.about-us .img-about img {
  max-width: 100%;
}

.about-us .img-leeter {
  position: absolute;
  left: 47%;
  top: -60px;
}

@media (max-width: 767px) {
  .about-us .img-leeter {
    top: 250px;
    left: 44%;
  }
}

.about-us .about-prg h2 {
  font-size: 3em;
  color: #636363;
  margin-bottom: 15px;
  padding-left: 24%;
}

@media (max-width: 767px) {
  .about-us .about-prg h2 {
    padding-left: 10%;
  }
}

.about-us .about-prg p {
  padding: 5% 7% 0 24%;
  color: #333;
  font-size: 14px;
}

@media (max-width: 767px) {
  .about-us .about-prg p {
    padding-left: 10%;
  }
}

.pricing {
  margin-bottom: 20px;
}

.pricing .pricing-links .img-pricing {
  background: url("../img/pricing_bg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 25px;
}

.pricing .pricing-links .img-pricing .overlay {
  position: absolute;
  background-color: rgba(139, 195, 74, 0.4);
  height: 20%;
  width: 100%;
}

.pricing .pricing-links .pricing-info {
  overflow: hidden;
  position: relative;
  color: #335d02;
}

.pricing .pricing-links .pricing-info h2 {
  padding: 30px 0px 5px 36px;
}

.pricing .pricing-links .pricing-info ul {
  list-style-type: none;
  padding: 0px 0px 20px 35px;
}

.pricing .pricing-links .pricing-info ul li {
  transition: all .3s ease-in-out;
  float: left;
  margin-right: 15px;
}

.pricing .pricing-links .pricing-info ul li:hover {
  color: #fff;
}

.pricing .pricing-links .pricing-info ul li.active {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  width: 30px;
  text-align: center;
}

.pricing .gllary-food {
  margin-top: 20px;
  overflow: hidden;
}

.pricing .gllary-food .item-food {
  margin-right: 20px;
  width: 31.33333%;
  float: left;
}

@media (max-width: 767px) {
  .pricing .gllary-food .item-food {
    width: 100%;
    margin-right: 0;
  }
  .pricing .gllary-food .item-food img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .pricing .gllary-food .item-food {
    width: 48%;
    margin-right: 10px;
  }
  .pricing .gllary-food .item-food img {
    width: 100%;
  }
}

.pricing .gllary-food .item-food h2 {
  text-align: center;
  background-color: #8bc34a;
  height: 78px;
  width: 369px;
  margin-top: -6px;
  padding-top: 20px;
  color: #fff;
  font-size: 2.5em;
}

@media (max-width: 767px) {
  .pricing .gllary-food .item-food h2 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .pricing .gllary-food .item-food h2 {
    width: 100%;
  }
}

.pricing .great-place {
  margin-top: 15px;
  background-color: #8bc34a;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.pricing .great-place .h2 {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .pricing .great-place .h2 {
    width: 100%;
  }
}

.pricing .great-place .h2 h2 {
  font-size: 3em;
  font-weight: normal;
  padding-top: 50px;
  width: 300px;
  text-align: end;
  margin: 0 auto;
}

.pricing .great-place img {
  width: 50%;
  float: left;
  max-height: 100%;
}

@media (max-width: 767px) {
  .pricing .great-place img {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .pricing .great-place img {
    height: 100%;
  }
}

.beer {
  position: relative;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .beer {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .beer {
    text-align: center;
  }
}

.beer .grid {
  width: 44%;
  float: left;
  margin-left: 10px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .beer .grid {
    width: 100%;
  }
}

.beer .grid:first-of-type {
  margin-right: 40px;
}

@media (max-width: 991px) {
  .beer .grid {
    width: 100%;
  }
}

.beer .img-beer1 {
  position: relative;
  left: 8%;
  margin-top: 5%;
  padding-top: 5%;
}

@media (max-width: 767px) {
  .beer .img-beer1 {
    margin-top: 20%;
  }
}

@media (max-width: 991px) {
  .beer .img-beer1 {
    margin-top: 20%;
  }
}

.beer .img-beer1 img {
  width: 39%;
  box-shadow: 0px 0px 10px 3px black;
  border-radius: 50%;
}

.beer .img-beer1 img:last-child {
  position: relative;
  top: 21px;
  right: 115px;
  z-index: -1;
}

.beer .img-beer {
  position: absolute;
  left: 48%;
  top: 10px;
  background-color: #8bc34a;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 24px 32px;
  color: #fff;
  font-size: 3em;
}

@media (max-width: 767px) {
  .beer .img-beer {
    left: 44%;
  }
}

.beer .beer-prg h2 {
  font-size: 3em;
  color: #636363;
  margin-bottom: 15px;
  padding-left: 24%;
}

@media (max-width: 767px) {
  .beer .beer-prg h2 {
    padding-left: 10%;
  }
}

@media (max-width: 991px) {
  .beer .beer-prg h2 {
    padding-left: 10%;
  }
}

.beer .beer-prg p {
  padding: 5% 7% 0 24%;
  color: #333;
  font-size: 14px;
}

@media (max-width: 767px) {
  .beer .beer-prg p {
    padding-left: 10%;
  }
}

@media (max-width: 991px) {
  .beer .beer-prg p {
    padding-left: 10%;
  }
}

.our-bread .great-place {
  margin-top: 25px;
  background-color: #8bc34a;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.our-bread .great-place .h2 {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .our-bread .great-place .h2 {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
  }
}

.our-bread .great-place .h2 h2 {
  font-size: 3em;
  font-weight: normal;
  padding-top: 50px;
  width: 300px;
  text-align: end;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .our-bread .great-place .h2 h2 {
    text-align: center;
  }
}

.our-bread .great-place img {
  width: 50%;
  float: left;
  max-height: 100%;
}

@media (max-width: 767px) {
  .our-bread .great-place img {
    width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 991px) {
  .our-bread .great-place img {
    height: 100%;
  }
}

.featured .great-place {
  margin-top: 25px;
  background-color: #8bc34a;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.featured .great-place .h2 {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .featured .great-place .h2 {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
  }
}

.featured .great-place .h2 h2 {
  font-size: 3em;
  font-weight: normal;
  padding-top: 50px;
  width: 300px;
  text-align: end;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .featured .great-place .h2 h2 {
    text-align: center;
  }
}

.featured .great-place img {
  width: 50%;
  float: left;
  max-height: 100%;
}

@media (max-width: 767px) {
  .featured .great-place img {
    width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 991px) {
  .featured .great-place img {
    height: 100%;
  }
}

.featured .box-item {
  margin-right: 2%;
  margin-left: 7%;
}

@media (max-width: 767px) {
  .featured .box-item {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .featured .box-item {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    overflow: hidden;
  }
}

.featured .box-item .item {
  width: 22%;
  float: left;
  color: #555;
  margin-right: 3%;
}

@media (max-width: 767px) {
  .featured .box-item .item {
    width: 47%;
  }
}

@media (max-width: 991px) {
  .featured .box-item .item {
    width: 47%;
  }
}

.featured .box-item .item h2 {
  font-size: 3em;
  font-weight: normal;
}

.featured .box-item .item .bread-sec h4 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: normal;
}

.featured .box-item .item .bread-sec p:not(:first-of-type) {
  color: #8bc34a;
}

.featured .box-item .item .bread-sec p:not(:first-of-type) span {
  padding-left: 30px;
}

.featured .box-item .btn {
  margin-bottom: 40px;
  background-color: white;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 2px;
  border: 1px solid #8bc34a;
  position: relative;
  left: 40%;
  top: 40px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

@media (max-width: 767px) {
  .featured .box-item .btn {
    left: 0;
    top: 20px;
  }
}

@media (max-width: 991px) {
  .featured .box-item .btn {
    left: 0;
    top: 10px;
  }
}

.featured .box-item .btn:hover {
  background-color: #8bc34a;
}

.featured .box-item .btn:hover a {
  color: #fff;
  transition: all .3s ease-in-out;
}

.featured .box-item .btn a {
  color: #8bc34a;
  text-decoration: none;
  font-size: 24px;
}

.featured .box-item .btn a svg {
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}

.featured .slider-feat {
  margin-top: 40px;
}

.featured .slider-feat .item-slider {
  width: 50%;
  float: left;
  height: 471px;
}

@media (max-width: 767px) {
  .featured .slider-feat .item-slider {
    width: 100%;
  }
}

.featured .slider-feat .item-slider:first-child ul {
  list-style: none;
  text-align: center;
  position: relative;
  bottom: 50px;
}

.featured .slider-feat .item-slider:first-child ul li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.featured .slider-feat .item-slider:first-child ul li.active {
  background-color: #8bc34a;
}

.featured .slider-feat .item-slider:last-child {
  background-color: #8bc34a;
  max-width: 100%;
  height: 472px;
}

@media (max-width: 767px) {
  .featured .slider-feat .item-slider:last-child {
    margin-bottom: 40px;
  }
}

.featured .slider-feat .item-slider:last-child .h2 {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  padding-top: 50px;
  margin-left: 30px;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .featured .slider-feat .item-slider:last-child .h2 {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.featured .slider-feat .item-slider:last-child h2 {
  font-size: 4em;
  font-weight: normal;
  padding-top: 50px;
  width: 435px;
  text-align: end;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .featured .slider-feat .item-slider:last-child h2 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .featured .slider-feat .item-slider:last-child h2 {
    text-align: center;
  }
}

.featured .slider-feat .item-slider img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .featured .slider-feat .item-slider img {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .resevred {
    margin-top: 40px;
  }
}

.resevred .great-place {
  margin-top: 15px;
  background-color: #8bc34a;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .resevred .great-place {
    margin-bottom: 90px;
  }
}

.resevred .great-place .h2 {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .resevred .great-place .h2 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.resevred .great-place .h2 h2 {
  font-size: 3.7em;
  font-weight: normal;
  padding-top: 50px;
  width: 300px;
  text-align: end;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .resevred .great-place .h2 h2 {
    text-align: center;
  }
}

.resevred .great-place img {
  width: 50%;
  float: left;
  min-height: 100%;
}

@media (max-width: 767px) {
  .resevred .great-place img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .resevred .great-place img {
    max-height: 100%;
  }
}

.resevred .make-resev {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 50px;
}

.resevred .make-resev .grid {
  width: 44%;
  float: left;
  margin-left: 10px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .resevred .make-resev .grid {
    width: 100%;
    margin-left: 0;
  }
}

.resevred .make-resev .grid:first-of-type {
  margin-left: 60px;
  padding: 40px 5px;
}

@media (max-width: 767px) {
  .resevred .make-resev .grid:first-of-type {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.resevred .make-resev .grid input {
  margin-bottom: 20px;
  padding: 9px 0;
  border-radius: 0;
  border: 1px solid #ddd;
  width: 180px;
}

@media (max-width: 767px) {
  .resevred .make-resev .grid input {
    width: 95%;
  }
}

.resevred .make-resev .grid textarea {
  width: 368px;
  height: 100px;
}

@media (max-width: 767px) {
  .resevred .make-resev .grid textarea {
    width: 95%;
  }
}

.resevred .make-resev .grid button {
  border: 0;
  background-color: #8bc34a;
  color: #FFF;
  padding: 12px 20px;
  width: 68%;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resevred .make-resev .grid button:hover {
  background-color: #5c9233;
}

.resevred .make-resev .grid button a {
  color: #fff;
  text-decoration: none;
}

.resevred .make-resev .grid .res-date {
  text-align: left;
  background-color: #8bc34a;
  width: 262px;
  padding: 1px 37px;
  margin: 25px 55px;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .resevred .make-resev .grid .res-date {
    width: 400px;
    text-align: center;
    margin: 25px auto;
    padding: 30px 0;
  }
}

.resevred .make-resev .grid .res-date p {
  margin-top: 0;
  font-size: 14px;
}

.resevred .make-resev .img-make {
  position: absolute;
  left: 44%;
  top: -20px;
  background-color: #8bc34a;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 24px 25px;
  color: #fff;
  font-size: 3em;
}

@media (max-width: 991px) {
  .resevred .make-resev .img-make {
    top: -90px;
    margin-top: 20px;
  }
}

.contact-us {
  background-color: #8bc34a;
  width: 100%;
  height: 300px;
  position: relative;
  top: -25px;
  left: 0;
}

.contact-us .grid {
  width: 40%;
  float: left;
  padding: 31px 20px;
}

@media (max-width: 767px) {
  .contact-us .grid {
    width: 100%;
    float: none;
    padding: 0 0;
    text-align: center;
  }
}

.contact-us .grid:first-of-type h2 {
  font-size: 4em;
  padding: 10px 45px;
  margin: 20px 51px;
  color: #fff;
  font-weight: normal;
}

@media (max-width: 767px) {
  .contact-us .grid:first-of-type h2 {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .contact-us .grid:first-of-type h2 {
    padding: 5px 10px;
    text-align: center;
    margin: 10px 35px;
  }
}

.contact-us .grid .contact-desc {
  margin-top: 25px;
  padding-top: 10px;
  color: #fff;
}

@media (max-width: 767px) {
  .contact-us .grid .contact-desc {
    margin-top: 0;
  }
}

.contact-us .icons {
  position: absolute;
  color: #fff;
  bottom: -50px;
  left: 28%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .contact-us .icons {
    bottom: 20px;
    position: static;
    text-align: center;
  }
}

.contact-us .icons svg {
  background-color: #5c9233;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 30px;
}

@media (max-width: 767px) {
  .contact-us .icons svg {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
}

.contact-us .massge {
  margin-top: 40px;
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .contact-us .massge {
    width: 90%;
  }
}

.contact-us .massge .input {
  width: 50%;
  float: left;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .contact-us .massge .input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.contact-us .massge .input input {
  width: 95%;
  border-radius: 0;
  border: 1px solid #bbb;
  margin-bottom: 15px;
  padding: 7px 15px;
}

@media (max-width: 767px) {
  .contact-us .massge .input input {
    width: 100%;
  }
}

.contact-us .massge textarea {
  float: left;
  width: 491px;
  height: 149px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .contact-us .massge textarea {
    width: 410px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.contact-us button {
  margin: 0px auto;
  display: block;
  padding: 10px 40px;
  border: none;
  background: #8bc34a;
  box-shadow: 0px 0px 4px #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-us button:hover {
  background-color: #5c9233;
}

.contact-us button a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #8bc34a;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  text-align: center;
  color: #5C9238;
}

footer span {
  color: #fff;
}

@media (max-width: 767px) {
  .none-mob {
    display: none;
  }
}

@media (max-width: 991px) {
  .none-tab {
    display: none;
  }
}

.clearfix {
  clear: both;
}
